{% extends "admin/object_history.html" %}

{% load i18n admin_urls %}

{% block content %}
    <div class="g-d-c grp-object-history">
        {% if log_entry_list %}
            <table id="grp-change-history" class="grp-table">
                <thead>
                    <tr>
                        <th scope="col">{% trans 'Date/time' %}</th>
                        <th scope="col">{% trans 'User' %}</th>
                        <th scope="col">{% trans 'Action' %}</th>
                        <th scope="col">{% trans 'Log entry' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log_entry in log_entry_list %}
                        <tr>
                            <th scope="grp-row">{{ log_entry.timestamp|date:"Y-m-d H:i:s.u" }}</th>
                            <td>{{ log_entry.user_link }}</td>
                            <td>{{ log_entry.action }}</td>
                            <td>{{ log_entry.log_link }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans "This object doesn't have a change history." %}</p>
        {% endif %}
    </div>
{% endblock %}
